<div class="row h-100">
  <section class="col-md-5 imagem h-100"></section>
  <section class="col-md-7 p-5 h-100 d-flex flex-column justify-content-center">
    <img src="/assets/logo.png" alt="" class="logo mb-5" />

    <h1>Cadastro</h1>
    <h4 class="mb-5">
      Insira as informações abaixo para completarmos o seu cadastro
    </h4>
    <form class="formulario-login row" [formGroup]="formularioCadastro">
      <mat-form-field class="campo">
        <mat-label>Nome Completo</mat-label>
        <input type="text" matInput formControlName="nome" />

        @if (formularioCadastro.get('nome')?.hasError('nome')) {
        <mat-error>Informe o seu nome completo</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="campo">
        <mat-label>CPF</mat-label>
        <input type="number" matInput formControlName="cpf" max="99999999999" />

        @if (formularioCadastro.get('cpf')?.hasError('cpf')) {
        <mat-error>Informe um CPF válido</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="campo">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="email" />

        @if (formularioCadastro.get('email')?.hasError('email')) {
        <mat-error>Informe um e-mail válido</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="campo">
        <mat-label>Telefone</mat-label>
        <input
          type="phone"
          matInput
          formControlName="telefone"
          maxlength="11"
        />
        @if (!formularioCadastro.get('telefone')?.valid){
        <mat-error>Informe um telefone válido (apenas números) </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="campo">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="senha" />
        @if (!formularioCadastro.get('senha')?.valid){
        <mat-error>Informe uma senha válida</mat-error>
        }
      </mat-form-field>

      <mat-slide-toggle formControlName="receber_notificacoes"
        >Deseja receber notificações sobre os procedimentos
        marcados?</mat-slide-toggle
      >
    </form>
    <div
      class="d-flex flex-column justify-content-center align-items-center p-5 gap-3"
    >
      <button
        mat-raised-button
        color="primary"
        class="cadastro-btn w-100"
        (click)="cadastrar()"
      >
        Cadastrar
      </button>

      <button
        mat-button
        color="primary"
        class="cadastro-btn w-100"
        (click)="irParaLogin()"
      >
        Já possui cadastro? Faça o login
      </button>
    </div>
  </section>
</div>
