/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  --mdc-typography-button-font-size: 0.9rem;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0;
}
.mat-mdc-chip-action-label {
  font-size: 0.9rem !important;
}
