.agendamento {
  border: 1px solid #cac4d0;
  border-radius: 10px;
  background-color: #fff;

  .datas-preco {
    align-items: center;
  }

  .datas {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .servicos {
    border: 1px solid #cac4d0;
    border-radius: 10px;
    background-color: #fcfafa;
  }
}

::ng-deep .datas .mdc-evolution-chip {
  margin-left: 0 !important;
}
